body{
    background-image: url(../Images/2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 500px;
}

header{
    height: 70px;
    background-color: rgb(62, 75, 128);
    margin: 50px -10px 0 -10px;
}

img{
    height: 60px;
    margin: 5px 0px 0px 60px;
}

h1{
    margin: -50px 0px 0px 130px;
    font-style: oblique;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(0, 245, 245);
    
}

#Cup{
    margin: -30px -50px 0px 680px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    color: rgb(0, 245, 245);
}

#Pen{
    width: 1000px;
    height: 300px;
    margin: 50px 1000px 0 250px;
}

#Meat{
    margin: 10px 0px -20px 550px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight:bolder;
    size: 900px;
    font-size: 300%;
    color: rgb(0, 34, 34);
}

#Pop{
    margin: 10px 0px 0 350px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight:bolder;
    size: 900px;
    font-size: 600%;
    color: rgb(0, 245, 245);    
}

#Corn{
    margin: -15px 0px 0 570px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight:bolder;
    size: 900px;
    font-size: 300%;
    color: rgb(0, 34, 34);
}

#Goat{
    width: 1200px;
    height: 700px;
    margin: 50px 0px 0 200px;
}